.items{
    width: 320px;
    height: 50px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;
    margin-bottom: 2px;
}
.icon{
    cursor: pointer;
    font-size: 20px;
    display: flex;
}
.icon-check:hover{
    color: rgb(51, 194, 51);
}
.icon-check--active{
    color: rgb(51, 194, 51);
}

.icon-close:hover{
    color: red;
}

.todo-item-complete{
    text-decoration: line-through;
}