.input-container{
    width: 300px;
    height: 40px;
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    
}
input{
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
    padding-left: 12px;
}
input:focus{
    outline-color: rgb(6, 6, 154);
}