.modal-background{
    background-color: rgba(32, 35, 41, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.crateTodo{
    width: 320px;
    height: 140px;
    border: 1px solid black;
    border-radius: 12px;
    z-index: 2;
}