.todo-form {
  width: 90%;
  max-width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size: 20px;
  color: blue;
  margin-top: 12px;
}

textarea {
  width: 70%;
  height: 100px;
  margin: 12px 0 16px 0;
  padding-left: 8px;
}

.TodoForm-buttton-container {
  width: 90%;
  height: 20px;
  color: black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

}

.todo-form-button{
    border-radius: 20px;
}
.todo-form-button--cancel {
  background: red;
  border: none;
}
.todo-form-button--cancel:hover{
    background: transparent;
}

.todo-form-button--add {
  background: transparent;
  border: none;
}
.todo-form-button--add:hover{
    background: green;
}

