.icon-container{
    width: 32px;
    height: 32px;
    cursor: pointer;

}
.icon-svg{
    font-size: 32px;
}

.icon-container-delete{
    position: absolute;
    right: -8px;
    bottom: 24px;
}

.icon-container-check{
    position: absolute;
    left: 4px;
}

.icon-container-delete:hover .icon-svg{
    fill: red;
}
.icon-container-check:hover .icon-svg{
    fill: green;
}